
<section class="section">
  <h3 class="has-text-centered">List of users grabed from Github Api</h3>
  <div class="container">
    <div class="columns is-multiline" *ngIf="users">
      <div  class="column is-4" *ngFor="let user of users | async">

       <div class="card">
         <div class="card-content">
           <a routerLink="/users/{{ user.login }}">
<!-- <a [routerLink]="['/users/{{ user.login }}']"  class="text" > -->
             {{ user.login }}
             
             </a>



         </div>

       </div>
      </div>
    </div>
  </div>
</section>
